# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Ll]og/
*.log

# Test results
TestResults/
*.trx

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE folders
.vs/
.idea/
.vscode/

# ASP.NET config overrides
appsettings.*.local.json

# Other
.env
